<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<!-- 데이터베이스 연결 설정 -->
		<add key="DbServer" value="localhost" />
		<add key="DbPort" value="3306" />
		<add key="DbName" value="class_time_table_maker" />
		<add key="DbUser" value="root" />
		<add key="DbPassword" value="12341234" />
	</appSettings>
</configuration>